<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="AFMES.BaseInfo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings configSource="appSettings.config" />
  <connectionStrings>
    <add name="BaseEntities" connectionString="metadata=res://*/DB.BaseModel.csdl|res://*/DB.BaseModel.ssdl|res://*/DB.BaseModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=101.132.116.174;initial catalog=SSLPA;persist security info=True;user id=sa;password=Admin#123456;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="AFMESEntities" connectionString="metadata=res://*/AFMESModel.csdl|res://*/AFMESModel.ssdl|res://*/AFMESModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=101.132.116.174;initial catalog=SSLPA;persist security info=True;user id=sa;password=Admin#123456;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="AspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
    <services>
      <service name="SeekerSoft.Base.Srv.BaseSrv">
        <endpoint address="" behaviorConfiguration="AspNetAjaxBehavior"
          binding="webHttpBinding" contract="SeekerSoft.Base.Srv.BaseSrv" />
      </service>
      <service name="SSLPA.BaseInfo.Srv.BaseInfoSrv">
        <endpoint address="" behaviorConfiguration="AspNetAjaxBehavior"
          binding="webHttpBinding" contract="SSLPA.BaseInfo.Srv.BaseInfoSrv" />
      </service>
      <service name="SSLPA.LPA.Srv.LPASrv">
        <endpoint address="" behaviorConfiguration="AspNetAjaxBehavior"
          binding="webHttpBinding" contract="SSLPA.LPA.Srv.LPASrv" />
      </service>
    </services>
  </system.serviceModel>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.webServer>
    <staticContent>
      <mimeMap fileExtension=".svc" mimeType="application/octet-stream" />
    </staticContent>
    <directoryBrowse enabled="true" />
  </system.webServer>
</configuration>
